from helpers.aoc_utils import input_data

puzzle_input = input_data("year_{{ year }}/day_{{ day_num }}_{{ task_name }}/input.txt")

print("--------------------------------------")
print("Day {{ day_num }}: {{ task_name }}")
print("Part One Answer: ")
print("Part Two Answer: ")
print("--------------------------------------")
