def input_data(filename):
    """Returns the data imported from file - 
    """
    file = open(filename, "r")
    input = file.readlines()
    file.close()

    # TODO: Choose data input format

    return input

# TODO: Enter solutions


input = input_data("{{ year }}/{{ day_num }} {{ task_name }}/input.txt")

print("--------------------------------------")
print("Day {{ day_num }}: {{ task_name }}")
print("Part One Answer: ")
print("Part Two Answer: ")
print("--------------------------------------")
