import path from "path";
import { InputFile, readPuzzleInput } from "../../utils/readFile";
import { functionTimer } from "../../utils/time";

export const partOne = (puzzle_input: string[]) => {
  return "Part 1 Answer";
};

export const partTwo = (puzzle_input: string[]) => {
  return "Part 2 Answer";
};

if (require.main === module) {
  const puzzle_input = readPuzzleInput(path.resolve(__dirname, InputFile.EXAMPLE));
  runPuzzle('{{ day_num }}', '{{ task_name }}', partOne, partTwo, puzzle_input);
};
}
